$card-back: $alto;
$card-light-back: $white;

.m-card {
  max-width: 390px;

  padding: $lg;

  background: $card-back;

  @include flex(column, wrap, flex-start);

  &__header {
    margin-bottom: $lg;

    line-height: 32px;
    letter-spacing: .6px;
  }

  &__image {
    width: 100%;

    margin-bottom: $lg;
  }

  &__paragraph {
    margin-bottom: $lg;

    font-size: $fs-14;
    letter-spacing: .3px;
    text-align: start;

    &.-justify {
      text-align: justify;
    }
  }

  &.-light {
    padding: $lg;
    margin: 0;

    background: $card-light-back;

    @include media-small-tablet {
      max-width: 438px;
    }
  }

  &.-ml-auto {
    @include media-tablet {
      margin-left: auto;
    }
  }
}
