$card-back: $light-grey;
$card-light-back: $white;

.m-card {
  max-width: 390px;

  padding: $lg;
  padding-right: $xxl;
  margin: auto;
  margin-bottom: $lg;

  background: $card-back;

  @include media-small-tablet {
    max-width: 390px;

    margin: 0;
    margin-left: $md;
  }
  @include flex(flex, wrap, flex-start);

  &__header {
    margin-bottom: $lg;

    line-height: 32px;
    letter-spacing: .6px;
  }

  &__paragraph {
    margin-bottom: $lg;

    font-size: $fs-14;
    letter-spacing: .3px;
    text-align: start;

    &.-justify {
      text-align: justify;
    }
  }

  &.-light {
    padding: $lg 0;
    margin: 0;

    background: $card-light-back;

    @include media-small-tablet {
      max-width: 438px;
    }
  }

  &.-ml-auto {
    @include media-tablet {
      margin-left: auto;
    }
  }
}
