$navBtn-main-color: $cod-gray;
$navBtn-back-color: $white;
$navBtn-hover-color: $white;
$navBtn-light-border-color: $white;
$navBtn-light-color: $white;

.a-navBtn {
  width: 216px;
  height: 50px;

  padding-top: $xxs;
  margin: $sm;
  border: 3px solid $navBtn-main-color;

  background-color: $navBtn-back-color;
  color: $navBtn-main-color;

  text-decoration: none;

  cursor: pointer;

  @include flex(row, wrap, center, center);
  @include media-small-desktop {
    margin: $lg;
  }
  border-radius: 2px;
  transition: color .4s;

  &:hover {
    background: $navBtn-main-color;
    color: $navBtn-hover-color;
  }

  &.-light {
    border: 3px solid $navBtn-light-border-color;

    background: transparent;
    color: $navBtn-light-color;

    &:hover {
      background: $white;
      color: $navBtn-main-color;
    }
  }
}
